

/*----Home Page----*/
.page-container {
  height: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 10%;
}

/*----Game----*/
.game-container {
  height: 400px;
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 5%;
}

.question-title {
  margin-bottom: 60px;
}
.choice-container {
  margin-bottom: 40px;
  border: 2px solid black;
  font-size: 25px;
  width: 100%;
}

.choice-prefix {
  background-color: black;
  padding: 7px 20px;
  color: white;
}

.choice-text {
  padding: 15px;
  width:100%;
}

.hvr-grow {
  display: block;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

.blm {
    font-size: 300px;
}

.choice-container p{
    display: inline;
}

/*----HUD----*/

#hud {
    justify-content: space-between;
}

#hud-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

#progress-bar {
    width: 150px;
    height: 30px;
    border: 1px solid black;
}

#progressBarFull {
    height: 28px;
    background-color: black;
    width: 0%;
}

/*----EndPage----*/
.end-container {
    margin-top: 10%;
}

.btn-home {
    width: 150px;
}

.final-score {
    font-size: 60px;
    margin-bottom: 30px;
    margin-top: 0px;
}